
{% extends 'base.html.twig' %}

{% block title 'Formulaire pour générer un article à améliorer urgemment par genre | ' ~ parent() %}

{% block content %}

<div class="form-signin">
    <img class="mb-4 image1" src="/assets/images/logo.jpg" alt="Gawa">
	<p>Veuillez cliquer sur le genre de votre choix :</p>
      <hr/>
      <a href="{{ path('listmale') }}" class="btn btn-primary">Homme</a>
      <a href="{{ path('listfemale') }}" class="btn btn-primary">Femme</a>
</div>

{% endblock %}