<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>GAWA WIKICIV</title>

      <!-- Bootstrap core CSS -->
    <link href="" rel="stylesheet">

      <!-- Custom styles for this template -->
    <link href="" rel="stylesheet">

      <!-- Favicon -->
    <link rel="shortcut icon" href="">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    {% block content %}{% endblock %}
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src=""></script>
    <!-- Canvas.js -->
    <script src=""></script>
</body>
</html>
